<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>Level Ground</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#">Classes</a></li>
					<li><a href="#">Hire Us</a></li>
				<ul>
			<nav>

			<img class="logo" src="https://static1.squarespace.com/static/518020d6e4b00f395718a7b9/55eeba4fe4b0c1020ff9a585/55eeba4fe4b0c1020ff9a587/1440866952138/Level+Ground+MMA.png">

			<a class="donate" href="#">Donate</a>

			<h1>WHERE GRIT MEETS OPPORTUNITY </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a href="#"><img class="playVideo" src="http://www.slatecube.com/images/play-btn.png">Watch the Video</a>

		</header>
		<section id="one">
			<h2>WHY</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section id="two">
			<section id="twoLeft">
				<div></div>
				<h3>VISIT THE GYM</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a class="classes" href="#">SEE CLASSES</a>
			</section>
			<section id="twoRight">
				<div></div>
				<h3>HAVE US VISIT YOU</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a class="classes" href="#">HIRE US</a>
			</section>
		</section>
		<section id="three">
			<h2>VOLUNTEER WITH LEVEL GROUND</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a class="volunteer" href="#">VOLUNTEER</a>
		</section>
		<footer>
			<div class="firstdiv">
				<a href="#"><img class="facebook" src="http://www.freeiconspng.com/uploads/white-facebook-fb-icon-17.png"></a>
				<a href="#"><img class="twitter" src="http://www.careerpathwaysinstitute.org/assets/templates/site/images/icon-twitter-white.png"></a>
				<a href="#"><img class="email" src="http://findicons.com/files/icons/734/phuzion/256/mail.png"></a>
				<nav>
					<ul class="sitemap" value="SITE MAP">
						<li><a href="#">Classes</a></li>
						<li><a href="#">Hire Us</a></li>
					</ul>
					<ul class="contribute" value="CONTRIBUTE">
						<li><a href="#">Give</a></li>
						<li><a href="#">Volunteer</a></li>
					</ul>
			</div>
			<div class="seconddiv">
				<h5>LEVEL GROUND</h5>
				<h5>MIXED MARTIAL ARTS</h5>
				<span>50 Milk Street, Floor 17</span>
				<span>Boston, MA, 02109</span>
				<span>410-533-2210</span>
				<h5>Ali@LevelGroundMMA.org</h5>
			</div>
			<div class="thirddiv">
			</div>
			<h4>Level Ground Mixed Martial Arts is a tax-exempt, 501(c)3 organization under the IRS EIN 46-3915852</h4>
			<img class="logo2" src="https://static1.squarespace.com/static/518020d6e4b00f395718a7b9/55eeba4fe4b0c1020ff9a585/55eeba4fe4b0c1020ff9a587/1440866952138/Level+Ground+MMA.png">
		</footer>
	</body>
</html>
